version: '3.8'

services:
  mongodb:
    image: mongo:latest
    container_name: kargo_mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: kargo_backend
    ports:
      - "3000:3000"
    environment:
      - MONGO_URI=mongodb://mongodb:27017/kargo
      - JWT_SECRET=d7d3bd4938e4fe61c3123273103d6b9bee4b1e46fe49871190e75923c8afef3a69c0
      - PORT=3000
    depends_on:
      - mongodb
    volumes:
      - ./backend:/app
      - /app/node_modules

  frontend:
    build: ./frontend
    container_name: kargo_frontend
    ports:
      - "5300:5300" 
    environment:
      - VITE_API_URL=http://localhost:3000
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules

volumes:
  mongo-data: