@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

body {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-style: normal;
  background-color: #F8FAFC;
}

h1, h2 {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-style: normal;
}

button {
  cursor: pointer;
}